/* .global{
    box-shadow: 2px 3px 7px black;
    background-color: #17a2b8;
    border-radius: 5px;
} */
/* 
.global:nth-child(2){
    box-shadow: 2px 3px 7px black;
    background-color: #28a745;
    border-radius: 5px;

}
.global:nth-child(3){
    box-shadow: 2px 3px 7px black;
    border-radius: 5px;
    background-color: #dc3545;
} */
